<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/style1.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
<script src="{{ url_for('static', filename="js/jquery1.42.min.js") }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
<script src="{{ url_for('static', filename="js/jquery.superslide.2.1.1.js") }}" type="text/javascript"></script>
<title>首页</title>
</head>

<body>
<div class="wapper_box">
<div class="header_box"></div>
<div class="header_box1">
    <div class="header_box2">
         <a class="logo_box" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename="images/logo1.jpeg") }}"/></a>
         <ul class="nav_box">
             <li class="nav_1"><a class="nav_but" href="{{ url_for('personal_information') }}">个人中心</a></li>
             <li class="nav_1"><a class="nav_but" href="{{ url_for('news_center') }}">课程论坛</a>
               <div class="nav_slide">
                <div class="nav_slide1">
                    <a href="{{ url_for('news_center') }}">课程公告<span><img src="../static/images/siade_bg1.png"/></span></a>
                    <a href="{{ url_for('course_discussion') }}">课程讨论<span><img src="../static/images/siade_bg1.png"/></span></a>
                 </div>
               </div>
             </li>
             <li class="nav_1"><a class="nav_but" href="{{ url_for('recommed') }}">课程推荐</a></li>
             <li class="nav_1"><a class="nav_but" href="{{ url_for('train_plan') }}">课程进度</a></li>
             <li class="nav_1"><a class="nav_but" href="{{ url_for('index') }}">首页</a></li>
         </ul>
    </div>
        <script>
             $(".nav_1").mouseenter(function(){
				 $(this).find(".nav_slide").slideDown()
			  });

			  $(".nav_1").mouseleave(function(){
				 $(".nav_slide").slideUp()
			 });
			 //$(".producys_box").mouseout(function(){
				// $(this).find(".producys_box1").slideUp();
			 //});
          </script>
</div>
<!--banner部分开始-->
  <div class="banner_box">
        <ul class="banner_pic">
            <li><img src="../static/images/logo.jpeg" /></li>
            <li><img src="../static/images/logo.jpeg" /></li>
            <li><img src="../static/images/logo.jpeg" /></li>

        </ul>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
        <div class="num"><ul></ul></div>
  </div>
	<script>
    /*鼠标移过，左右按钮显示*/
    $(".banner_box").hover(function(){
        $(this).find(".prev,.next").fadeTo("show",0.1);
    },function(){
        $(this).find(".prev,.next").hide();
    })
    /*鼠标移过某个按钮 高亮显示*/
    $(".prev,.next").hover(function(){
        $(this).fadeTo("show",0.7);
    },function(){
        $(this).fadeTo("show",0.1);
    })
    $(".banner_box").slide({ titCell:".num ul" , mainCell:".banner_pic" , effect:"fold", autoPlay:true, delayTime:700 , autoPage:true });
    </script>
    <!-- 代码 结束 -->
  <!--banner部分结束-->

<!--内容开始-->
<div class="content_box">
   <ul class="content_box_top">
      <li>
        <a href="{{ url_for('train_plan') }}"  onclick="get_info()" >  <img src="../static/images/icon11.png"/></a>
        <h3 class="obj_title" onclick="get_info()" >课程进度</h3>
      </li>
      <li>
        <a href="{{ url_for('recommed') }}"><img src="../static/images/icon21.png"/></a>
        <h3 class="obj_title">选课推荐</h3>
      </li>
      <li>
        <a href="{{ url_for('course_discussion') }}"><img src="../static/images/icon31.png"/></a>
        <h3 class="obj_title">课程讨论</h3>
      </li>
      <li>
        <a href="{{ url_for('personal_information') }}"><img src="../static/images/icon41.png"/></a>
        <h3 class="obj_title">个人中心</h3>
      </li>
   </ul>
</div>

<!--内容结束-->

</div>


</body>

</html>
