<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
</head>
<body>
<br/>
<form method="post">
        <div class="login form">
            <div class="group">
                <div class="group-ipt password">
					<input type="text" name="stu_no" id="password" class="ipt" placeholder="输入编辑用户学号" required>
				</div>
			</div>
            <br>
			<div class="group">
                <div class="group-ipt email">
					<input type="text" name="name" id="email" class="ipt" placeholder="输入编辑用户名字">
				</div>
				<div class="group-ipt password">
					<input type="text" name="sex" id="password" class="ipt" placeholder="输入编辑用户性别">
				</div>
                <div class="group-ipt password">
					<input type="text" name="college" id="password" class="ipt" placeholder="输入编辑用户学院/学部">
				</div>
                <div class="group-ipt password">
					<input type="text" name="major" id="password" class="ipt" placeholder="输入编辑用户专业">
				</div>
                <div class="group-ipt password">
					<input type="text" name="ad_year" id="password" class="ipt" placeholder="输入编辑用户入学年份">
				</div>
                <div class="group-ipt password">
					<input type="text" name="password" id="password" class="ipt" placeholder="输入编辑用户登录密码" required>
				</div>
			</div>
            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">编辑用户</button>
            </div>
		</div>
    </form>

</body>
</html>