<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
	<div class="cent-box-header">
		<h1 class="main-title hide">天津大学</h1>
		<h2 class="sub-title">本科培养计划</h2>
	</div>

	<div class="cont-main clearfix">
		<div class="index-tab">
			<div class="index-slide-nav">
				<a href="{{ url_for('login') }}">登录</a>
				<a href="{{ url_for('register') }}" class="active">修改密码</a>
				<div class="slide-bar slide-bar1"></div>				
			</div>
		</div>
        <form method="post">
            <div class="login form">
                <div class="group">
                    <div class="group-ipt email">
                        <input type="text" name="stu_id" id="email" class="ipt" placeholder="输入您的学号" required>
                    </div>
                    <div class="group-ipt user">
                        <input type="password" name="user" id="user" class="ipt" placeholder="输入原密码" required>
                    </div>
                    <div class="group-ipt password">
                        <input type="password" name="password" id="password" class="ipt" placeholder="输入新密码" required>
                    </div>
                    <div class="group-ipt password1">
                        <input type="password" name="password1" id="password1" class="ipt" placeholder="重复新密码" required>
                    </div>

                </div>
                <div class="button">
                    <button type="submit" class="login-btn register-btn" id="button">修改</button>
                </div>
            </div>
        </form>

	</div>
</div>

<script src='../static/js/particles.js' type="text/javascript"></script>
<script src='../static/js/background.js' type="text/javascript"></script>
<script src='../static/js/jquery.min.js' type="text/javascript"></script>
<script src='../static/js/layer/layer.js' type="text/javascript"></script>
<script src='../static/js/index.js' type="text/javascript"></script>
<script>

	$(".login-btn").click(function(){
		var email = $("#email").val();
		var password = $("#password").val();
		var verify = $("#verify").val();
		// $.ajax({
		// url: 'http://www.zrong.me/home/index/userLogin',
		// type: 'post',
		// jsonp: 'jsonpcallback',
  //       jsonpCallback: "flightHandler",
		// async: false,
		// data: {
		// 	'email':email,
		// 	'password':password,
		// 	'verify':verify
		// },
		// success: function(data){
		// 	info = data.status;
		// 	layer.msg(info);
		// }
		// })

	})
	$("#remember-me").click(function(){
		var n = document.getElementById("remember-me").checked;
		if(n){
			$(".zt").show();
		}else{
			$(".zt").hide();
		}
	})
</script>
</body>
</html>